extends page-template

block content
	.container
		.solutions-block
			.solutions-block__top-block
				h1.solutions-block__title Создаем решения
				h3.medium-title.solutions-block__medium-title Для роста бизнеса
				p.solutions-block__text На основе анализа данных с алгоритмами реализации
				button.green-btn.solutions-block__green-btn Обсудить проблему
				.solutions-block__arrows-img
					img(src=require("../img/arrows.png") alt="Arrows")
			.solutions-block__cube-img-div
				img(src=require("../img/main-cube.png") alt="Cube").solutions-block__cube-img
			.solutions-block__lines-img-div
				img(src=require("../img/lines.png") alt="Lines").solutions-block__lines-img
			.solutions-block__figure1-div
				img(src=require("../img/figure1.png") alt="Figure").solutions-block__figure1-img
			.solutions-block__figure2-div
				img(src=require("../img/figure2.png") alt="Figure").solutions-block__figure2-img
			.solutions-block__inner-flex.row
				.solutions-block__box.col-lg-6
					.solutions-block__cube-ic-div
						img(src=require("../img/cube-ic1.png") alt="Cube icon").solutions-block__cube-ic
					span.solutions-block__box-text Как найти точки роста и определить цели?
				.solutions-block__box.col-lg-6.solutions-block__box2
					.solutions-block__cube-ic-div
						img(src=require("../img/cube-ic1.png") alt="Cube icon").solutions-block__cube-ic
					span.solutions-block__box-text Как увеличить прибыль, управляя ценами?
				.solutions-block__box.col-lg-6
					.solutions-block__cube-ic-div
						img(src=require("../img/cube-ic1.png") alt="Cube icon").solutions-block__cube-ic
					span.solutions-block__box-text Как избежать проблем на старте нового бизнеса?
				.solutions-block__box.col-lg-6.solutions-block__box2
					.solutions-block__cube-ic-div
						img(src=require("../img/cube-ic1.png") alt="Cube icon").solutions-block__cube-ic
					span.solutions-block__box-text Как не попасть в "черную дыру" затрат на продвижение?
			h3.medium-title.solutions-block__medium-title.solutions-block__services Услуги
		.services
			.services__inner-flex
				.services__card1.services__card
					.services__icon-div1
						img(src=require("../img/service-ic1.png") alt="Icon 1").services__ic
					p.services__text1 Разрабатываем маркетинг-план: дорожная карта достижения целей
				.services__box-flex
					.services__card2.services__card
						.services__icon-div2
							img(src=require("../img/service-ic2.png") alt="Icon 2").services__ic
						p.services__text2 Повышаем эффективность продвижения: аудит существующей модели
					.services__card3.services__card
						.services__icon-div3
							img(src=require("../img/service-ic3.png") alt="Icon 3").services__ic
						p.services__text3 Находим скрытую прибыль: анализ модели ценообразования
					.services__card4.services__card
						.services__icon-div4
							img(src=require("../img/service-ic4.png") alt="Icon 4").services__ic
						p.services__text4 Запускаем новый проект: start-up маркетинг
				.services__card2.services__card.services__card-hidden
					.services__icon-div2
						img(src=require("../img/service-ic2.png") alt="Icon 2").services__ic
					p.services__text2 Повышаем эффективность продвижения: аудит существующей модели
				.services__card3.services__card.services__card-hidden
					.services__icon-div3
						img(src=require("../img/service-ic3.png") alt="Icon 3").services__ic
					p.services__text3 Находим скрытую прибыль: анализ модели ценообразования
				.services__card4.services__card.services__card-hidden
					.services__icon-div4
						img(src=require("../img/service-ic4.png") alt="Icon 4").services__ic
					p.services__text4 Запускаем новый проект: start-up маркетинг
















